{% extends 'base.html' %}
{% block content %}

{% for message in get_flashed_messages() %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    {{ message}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}

<h1>Blog Posts...</h1>
<br />


<div class="shadow p-3 mb-5 bg-body rounded">
    <h3>{{ post.title }}</h3>
    By: {{ post.poster.name }}<br />
    {{ post.slug }}<br />
    {{ post.date_posted }}<br />
    {{ post.content|safe }}<br />
    {% if post.poster.about_author %}
        {{ post.poster.about_author }}<br />
    {% endif %}
</div>

{% if post.poster_id == current_user.id %}
<a href="{{ url_for('edit_post', id=post.id) }}" class="btn btn-outline-secondary btn-sm">Edit Post</a>
<a href="{{ url_for('delete_post', id=post.id) }}" class="btn btn-outline-danger btn-sm">Delete Post</a>
{% endif %}
<a href="{{ url_for('posts') }}" class="btn btn-outline-secondary btn-sm">Back to Blogs</a>

{% endblock %}